@import "variables.scss";
@import "./header/header.scss";
@import 'form/form.scss';

@import "./rental/rental-listing.scss";
@import "./rental/rental-details.scss";

.clickable {
    &:hover {
      cursor: pointer;
    }
}

.page-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.apartment {
    color: #a72da3
}

.house {
    color:#bf1818
}

.condo {
    color:#d68000
}

.btn-bwm {
    background-color: $main-color !important;
    border-color: $main-color !important;
    color: white !important;
    padding: 15px 30px;
    font-size: 20px;
  
    &:hover, &:focus, &:active {
      border-color: $main-color !important;
      background-color: white !important;
      color: $main-color !important;
    }
}